.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-exercicio {
  background: white;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-apagar-plano {
  background: white;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  max-height: 40vh;
  overflow-y: auto;
}